{% extends 'base.html.twig' %}

{% block title %} {{ title_page }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style="text-align: center">Добро пожаловать на проект<br> "Менеджер игровых турниров"</h1>

    <h3><a href="{{ path('tournament_list') }}">Перейти к списку зарегистрированных в проекте турниров</a></h3>

    <h3>Список зарегистрированных в проекте команд:</h3>
    <table style="text-align: center">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название команды</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>
                    <a href="{{ path('team_delete', { 'id': team.id }) }}">Удалить команду</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Заполните форму, чтобы зарегистрировать новую команду:</h3>
    <form action="{{ path('team_registration') }}" method="POST">
        <label for="teamName">Введите название команды</label>
        <input type="text" name="teamName" placeholder="сюда =)))" required>
        <button type="submit">Добавить</button>
    </form>
</div>
{% endblock %}
