{% extends 'base.html.twig' %}

{% block title %} {{ title_page }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style="text-align: center">Добро пожаловать на проект<br> "Менеджер игровых турниров"</h1>

    <h3><a href="/teams">Перейти к списку зарегистрированных в проекте команд</a></h3>

    <h3>Список всех наших турниров:</h3>
    <table style="text-align: center">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название турнира</th>
            <th>Дата регистрации</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.id }}</td>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.dateRegistration|date('Y-m-d H:i') }}</td>
                <td>
                    <a href="{{ path('tournament_delete', { 'id': tournament.id }) }}">Удалить запись о турнире</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Заполните форму, чтобы зарегистрировать новый турнир:</h3>
    <form action="{{ path('tournament_registration') }}" method="POST">
        <label for="tournamentName">Введите название турнира</label>
        <input type="text" name="tournamentName" placeholder="сюда =)))" required><br>
        <label for="selectedTeams">Отметьте команды, которые будут учавствовать в турнире (если вы ничего не выберете, это будет означать, что в турнире учавствуют все команды)</label><br>
            {% for team in teams %}
                <input type="checkbox" name="selectedTeams[]" value="{{ team.id }}">{{ team.name }}<br>
            {% endfor %}
        <button type="submit">Зарегистрировать турнир</button>
    </form>
</div>
{% endblock %}
